body {
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 86px;
  margin-top: 10px;
}

.cabecalho {
  background-color: #2684c5;
  height: 60px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.titulo-card {
  margin: 0px !important;
  padding: 0px 0px 5px !important;
}

.titulo-card:hover {
  background-color: #fafafa !important;
  cursor: pointer;
}

.titulo-card-texto {
  background-color: #f3f1f1;
}
.confronto {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin: 20px 0px 30px;
}

.row {
  margin-bottom: 55px;
}

.local {
  font-size: 12px;
  text-align: right;
  padding-right: 24px;
}

.visualizar-previsao {
  font-size: 12px;
  text-align: center;
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  color: #414242;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 30px 60px;
  width: 80% !important;
  /* Could be more or less, depending on screen size */
  font-family: Lato;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  /* Rectangle 2 Copy 3: */
  background: #ffffff;
  border: 1px solid #9b9c9d;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.modal-content a {
  color: #636464;
}
.modal-content > h1 {
  display: block;
  width: 100%;
  text-align: center;
}
button#accept {
  margin: 30px auto;
  display: block;
  border: 1px solid #fc4c02;
  border-radius: 3px;
  background: #fff;
  color: #fc4c02;
  font-size: 16px;
  height: 48px;
  padding: 0 20px;
  cursor: pointer;
}
.safety {
  color: #9b9c9d;
  font-size: 12px;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
